# generate-starfile-and-mrcs tutorial generated data
docs/examples/outputs/
.coverage
tests/outputs/

.vscode/settings.json
.DS_STORE
*.swp
*_version.py
**/__pycache__
**/.ipynb_checkpoints
*.egg-info/
build/
dist/
site/
__pycache__
